extends layout 

block content 
  h2= title 

  form(method='POST' enctype='multipart/form-data' action='')
    div.form-group
      p Choose a category:
      div.radio-form  
        div.radio-input      
          input#Computers.form-control(type='radio', name='category',  value='Computers' )  
          label(for='Computers') Computers
        div.radio-input
          input#Phones.form-control(type='radio', name='category', value='Phones' ) 
          label(for='Phones') Phones          
        div.radio-input
          input#Consoles.form-control(type='radio', name='category', value='Consoles' )
          label(for='Consoles') Consoles  
    div.form-group  
      input#name.form-control(type='text', name='name', placeholder='Product name' value=(undefined===item ? '' : item.name))
    div.form-group 
      input#price.form-control(type='number', name='price', step='0.01', placeholder='Product price' value=(undefined===item ? '' : item.price))
    div.form-group
      input#stock.form-control(type='number', name='stock', placeholder='Product quantity' value=(undefined===item ? '' : item.stock))
    div.form-group 
      input#manufacturer.form-control(type='text', name='manufacturer', placeholder='Product manufacturer' value=(undefined===item ? '' : item.manufacturer))
    div.form-group 
      input#sdd.form-control(type='text', name='ssd', placeholder='Product ssd size' value=(undefined===item ? '' : item.ssd))
    div.form-group 
      input#ssd.form-control(type='text', name='ram', placeholder='Product ram size' value=(undefined===item ? '' : item.ram))
    div.form-group 
      input#screen_size.form-control(type='text', name='screen_size', placeholder='Product screen size' value=(undefined===item ? '' : item.screen_size))
    div.form-group 
      textarea#description.form-control(type='textarea', name='description', placeholder='Enter a description' value=(undefined===item ? '' : item.description))
    div.form-group
      input.file-type(type='file' name='image' id='image')      
      label.custom-file-upload(for='image') Select an image
      if errorImage 
        p Only image allowed
    button.btn.btn-form(type='submit') Submit
  
  if errors
    ul
      for error in errors
        li!= error.msg
